%meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/

%table{params}
  %thead
    %tr
      - @thead_renderer.columns.each do |column|
        %th{"onclick" => "javascript:#{column[:sort_function]}",  "class" => "#{column[:class]}"}= translate_field(@presenter, column[:field])
  %tbody
    - @records.each do |record|
      %tr
        - @presenter.fields_for_action(:pdf).each do |key, field|
          = list_cel(@presenter, key,record, false).html_safe

