#carnival-popup
  .close-popup{:onclick => 'closePopup()'}
    = 'Fechar'
  #carnival-popup-content

:javascript
  function showPopup(){
    $('#carnival-popup').show();
  }
  function closePopup(){
    $('#carnival-popup').hide();
  }
