.carnival-grid{
  padding: 0;
  margin: 15px 0px 0px;  
  float: left;
}

.carnival-grid-item{ 
  padding: 0px 15px 15px 0px;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  width:25%;
  float: left;
  height: 280px;
  position: relative;
}

.carnival-grid-card{
  background: #f6f6f6;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
  box-sizing: border-box;
  padding: 15px;
 }

.carnival-grid-card:hover{
  background: #fcfcfc;
}

.carnival-grid-item .row:last-child{
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.carnival-grid-item .carnival-action-link{
  margin: 0;
}

.carnival-grid-card .label{
  font-weight: bold;
  margin: 0px 4px 0px 0px;
}
