thead tr.filters{display: none;}
.dataTables_wrapper{
  float:left;
  position: relative;
  top:-37px;
  overflow-x: visible;
  min-height: 350px;
}
.dataTables_empty{
  display:none;
}
.dataTables_paginate{
  margin-left:-3px;
  margin-top:3px;
  position:relative;
  margin-top:20px;
  float:right;
}
.dataTables_info{
  margin-top:26px;
  margin-left:20px;
  float:right;
}

.dataTables_processing{
  position: absolute;
  top: 95px;
  padding: 14px 0 2px 0;
  border: 1px solid #e3e9ec;
  text-align: center;
  color: #333;
  font-size: 14px;
  background-color: #fff;
  opacity: 0.75;
  z-index:999;
  margin: -50px 0 0;
  min-height: 150px;
  width: 100% !important;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dataTables_paginate a.paginate_active{
    background: url('novo.png') left top;
  border: 1px solid
  #3079ED;
  color: #fff !important;
  font-size:13px;
  color:#fff !important;
  cursor:pointer !important;
    border:1px solid #2A6198;
}

.dataTables_paginate a{
  margin:3px;
  padding: 5px 8px 5px;
  cursor: default !important;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  background: url('novo.png') left bottom;
  border: 1px solid  #ccc;
  font-size:13px;
  box-shadow: 0 -1px 0px 0 #fff;
  cursor:pointer;
  border-radius: 1px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  color:#333 !important;
  font-weight:normal;
  line-height: 20px;
}

.dataTables_paginate a:hover{
  background: url('novo.png') left top;
  color: #fff !important;
  font-size:13px;
  color:#fff !important;
  cursor:pointer !important;
  border:1px solid #2A6198;
}
.dataTables_filter{
  float:left;
  display: block;
  position: absolute;
  top: -40px;
}

.dataTables_filter label{
  color:#fff;
}

.dataTables_filter input{
  border:1px solid #dfe4e7;
  padding:4px;
  background:none;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background:#fff;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  padding:6px 6px 5px 30px;
  width:208px;
  border-top:1px solid #ccc;
  background: #ededed; /* Old browsers */
  background: -moz-linear-gradient(top,  #ededed 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ededed 0%,#ffffff 100%);
  background: -o-linear-gradient(top,  #ededed 0%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #ededed 0%,#ffffff 100%);
  background: linear-gradient(to bottom,  #ededed 0%,#ffffff 100%);
  background:url('search.png') repeat 2px -8px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.dataTables_filter input:focus{
  outline:none;
}

.dataTables_length{
  float:left;
  display:none;
}

.datatables-loading{
  margin-top: 22px;
  color: #333;
  font-size: 25px;
  background-image: url(datatables-loading.gif);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position-x: center;
  padding-top: 55px;
  min-height: 150px;
  margin-top: 40px;
  padding-bottom: 30px;
}

/*TABLE LAYOUT*/


.table{
  border-collapse: collapse;
  border-spacing:0px;
  z-index:1;
  width: 100%;
  float:left;
  margin-top:6px;
  border-radius: 3px;
  overflow: hidden;
}

thead{
  height:30px;
  border:1px solid #002c4a;
  border-bottom:0px;
}

thead th{
  margin-bottom:1px;
  z-index:1;
  padding: 0px 0px 0px 20px;
  font-weight:normal;
}

thead th.buttons{
  width: 200px;
  background:none;
}

thead tr{
  height:36px;
  background:#004161;
  color:#fff;
  text-align:left;
}

thead tr:hover{
  cursor:default;
}

tr.more-click td{
  padding:10px 10px;
  margin:0;
}

.first-th{
  padding-left:35px;
}

tr.more-click{
  margin-top:1px;
  border-bottom: 1px solid #e3e9ec;
  color:#000;
  background: #ffffff;
}

tr.more-click:nth-child(odd){
  background: #f8f8f8;
}

tr.more-click:hover{
  background: #EDFAFF;
}

tr.more-click .td-editar{
  border-right:none;
}

tr.more-click .td-apagar{
  border-right:none;
}

.apagar{
  color:#d63e30 !important;
  display:block;
  font-size:11px;
  padding:2px 6px 0px 6px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  text-align:center;
  border-right:none;
}

.apagar:hover{
  background:#d63e30;
  color:#fff !important;
  text-decoration:none !important;
}

a.action.editar, a.action.apagar{
  float: right;
}

.editar{
  color:#2e77ec !important;
  display:block;
  font-size:11px;
  padding:2px 6px 0px 6px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  text-align:center;
}

.editar:hover{
  background:#2e77ec;
  color:#fff !important;
  text-decoration:none !important;
}

.visualizar{
  background:#ef6357;
  color:#fff !important;
  display:block;
  font-size:11px;
  padding: 5px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.visualizar:hover{
  background:#d63e30;
  color:#fff !important;
  text-decoration:none !important;
}

.more-info{
  position:relative;
  width:960px;
  background:#fefefe;
  bottom:0;
  margin-top:30px;
}

.more-info td{
  width:100%;
}

.more-info div{
  position:relative;
  display:none;
  border-bottom: 1px solid #e3e9ec;
}

.more-info p{
  position:relative;
}

.more-click{
  height:50px;
  width:960px;
  bottom:0;
}

.filter_bar{
  float: right;
}
