body{
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('fonts/opensans-semibold-webfont.eot');
    src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-semibold-webfont.woff') format('woff'),
         url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('fonts/opensans-semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.formframe, .formframe label{
  width: 100%;
  float: left;
}

.formframe input{
  width: 100%;
  outline:none;
  height:21px;
  border: 1px solid #c8c8c8;
  font-family: 'OpenSansRegular';
  padding:2px 6px 2px 6px;
  color:#555;
  -webkit-box-shadow: 0px 1px 0px 0px #fff;
    -moz-box-shadow: 0px 1px 0px 0px #fff;
    box-shadow: 0px 1px 0px 0px #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 1px;
    border-radius: 1px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  background:#fff;
}

.formframe input[type='file']{
  padding:0px 6px 0px 0px;
  border-left:none;
}

.formframe input:focus{
  border: 1px solid #2c6fec;
}

.formframe input.submit{
  width: auto !important;
  cursor: pointer !important;
  display: inline-block;
  text-align: center;
  font-size:14px;
  padding: 7px 12px 6px 12px !important;
  border: 1px solid
  #C8C8C8;
  background: url(bg_button.png);
  color: #333;
  -webkit-box-shadow: 0px 1px 0px 0px white;
  -moz-box-shadow: 0px 1px 0px 0px #fff;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  margin-right: 0px;
  box-shadow:none;
  font-weight: 300;
  border-radius: 2px;
  height: auto;
  margin-top: 0px;
}

.formframe input.submit:hover, #profile_submit:hover{
  color:#3079ed;
  cursor:pointer;
  background:#efefef;
}

.formframe input.submit:active, #profile_submit:active{
  background-position:0px -30px ;
  border: 1px solid #173988;
  color:#fff;
  text-shadow: 0px 1px 0px #173988;
  cursor:pointer;
}

.formframe textarea{
  width: 100%;
  outline:none;
  line-height:18px;
  border: 1px solid #c8c8c8;
  font-family: 'OpenSansRegular';
  padding:7px 7px 7px 7px;
  min-height:100px;
  margin:0;
  color:#555;
  -webkit-box-shadow: 0px 1px 0px 0px #fff;
    -moz-box-shadow: 0px 1px 0px 0px #fff;
    box-shadow: 0px 1px 0px 0px #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  font-size:13px;
}

.formframe textarea:focus{
  border: 1px solid #2c6fec;
}

.formframe button{
  border: 1px solid #c8c8c8;
  padding:7px 15px 6px 15px;
  background:url(bg_button.png);
  font-family: 'OpenSansSemibold';
  color:#333;


  -webkit-box-shadow: 0px 1px 0px 0px #fff;
    -moz-box-shadow: 0px 1px 0px 0px #fff;
    box-shadow: 0px 1px 0px 0px #fff;

  -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.formframe button:hover{
  color:#3079ed;
  cursor:pointer;
}

.formframe button:active{
  background-position:0px -30px ;
  border: 1px solid #173988;
  color:#fff;
  text-shadow: 0px 1px 0px #173988;
  cursor:pointer;
}

.formframe fieldset{
  width:97%;
  margin: 15px 0px;
  padding: 8px 5px;
  border: 1px solid #ccc;
}

.submit_button{
  float: left;
  margin-top: 15px;
  margin-left: -15px;
  margin-right: -15px;
  padding-top:10px;
  bottom:15px;
  border-top: 1px solid #C7C7C7;
  width:100%;
}

.submit_button input{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}


/******************************************************************************************/


.formframe .tzSelect{
  display:inline-block;
  position:relative;
}

.formframe .tzSelect .selectBox{
  position:absolute;

  width:100%;
  height:100%;
  text-shadow:1px 1px 0 #EEEEEE;
  height:16px;
  cursor:pointer;
  position:relative;
  background:url(bg_button.png);
  font-family: 'OpenSansSemibold';
  color:#333;
  padding:6px 16px 6px 8px;
  border: 1px solid #c8c8c8;
  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.formframe .tzSelect .selectBoxDisable{
  position:absolute;

  width:100%;
  height:100%;
  text-shadow:1px 1px 0 #EEEEEE;
  height:16px;
  cursor:pointer;
  position:relative;
  background:url(bg_button.png);
  font-family: 'OpenSansSemibold';
  color:#333;
  padding:8px 16px 6px 8px;
  border: 1px solid #c8c8c8;
  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.formframe .tzSelect .selectBox:hover{}

.formframe .tzSelect .selectBoxArrow{
  cursor:pointer;
  position:absolute;
  display:block;
  width:32px;
  height:30px;
  background:#ccc;
  background: url(bg_button.png) -3px -60px no-repeat;
  top:0px;
  right:-25px;
  border:none;
}

.formframe .tzSelect .selectBoxArrowDisable{
  cursor:pointer;
  position:absolute;
  display:block;
  width:32px;
  height:30px;
  background:#ccc;
  background: url(bg_button.png) -3px -60px no-repeat;
  top:0px;
  right:-25px;
  border:none;
}

.formframe .tzSelect .selectBoxArrow.expanded,  .tzSelect .selectBoxArrow:hover{
  background: url(bg_button.png) -37px -60px no-repeat;
}

.formframe .tzSelect .dropDown{
  position:absolute;
  top:30px;
  left:0;
  width:100%;
  padding:0px 26px 0px 0px;
  list-style:none;
  margin:0px;
}


.formframe .tzSelect li{
  width:100%;
  cursor:pointer;
  position:relative;
  background:url(bg_button.png);
  font-family: 'OpenSansSemibold';
  color:#333;
  padding:7px 16px 6px 8px;
  border: 1px solid #c8c8c8;
  border-top:none;
  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index:10;
}

.formframe .tzSelect li:hover{
  background: #FFF url() 0 0 no-repeat;
  color:#3079ed;
}

/********************************************************************************/

.formframe .styleCheck, .styleRadio{
  padding:5px 0px 0px 26px;
  font-family: 'OpenSansSemibold';
  color:#333;
}

.formframe .styleCheck.floatLeft, .formframe .styleRadio.floatLeft{
  float:left;
  margin-right:15px;
}

.formframe .styleRadio{
  height: 20px;
  margin:0;
  display:block;
  background: url(bg_button.png) 0px -205px no-repeat;
}

.formframe .styleCheck{
  height: 20px;
  margin:0;
  display:block;
  background: url(bg_button.png) 0px -153px no-repeat;
}

.formframe label.c_on{
  background: url(bg_button.png) 0px -179px no-repeat;
}

.formframe label.r_on{
  background: url(bg_button.png) 0px -231px no-repeat;
}

.formframe .styleCheck input, .styleRadio input{
  position: absolute; left: -9999px;
}


/***********************************************************************************/

#pagination{
  list-style:none;
}

#pagination li{
  display:block;
  background: #eee;
  border: 1px solid #ccc;
  float:left;
  border: 1px solid #c8c8c8;
  padding:6px 8px 4px 8px;
  background:url(bg_button.png);
  font-family: 'OpenSansSemibold';
  color:#333;
  -webkit-box-shadow: 0px 1px 0px 0px #fff;
    -moz-box-shadow: 0px 1px 0px 0px #fff;
    box-shadow: 0px 1px 0px 0px #fff;
  -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin:0px 2px 0px 2px;
}

#pagination li:hover{
  color:#3079ed;
  cursor:pointer;
}

#pagination li:active{
  color:#fff;
  background-position:0px -30px ;
  border: 1px solid #173988;
  cursor:pointer;
}

.pagPrev{
  text-indent:-9999px;
  background:url(bg_button.png) 3px -122px !important;
  width:7px;
}

.pagPrev:hover{
  background:url(bg_button.png) -15px -122px !important;
}

.pagPrev:active{
  text-indent:-9999px;
  background:url(bg_button.png) 3px -122px !important;
  width:7px;
}

.pagItem{

}

.pagNext{
  text-indent:-9999px;
  background:url(bg_button.png) 38px -122px !important;
  width:7px;
}

.pagNext:hover{
  background: #fff url(bg_button.png) 20px -122px !important;
}

.pagNext:active{
  color:#fff;
  background-position:0px -30px ;
  border: 1px solid #173988;
  cursor:pointer;
}
