/********************* FORM BASE STYLE ******************* START */


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.carnival-form *{
    transition: all 0.3s ease;
}

.carnival-form, .carnival-form label{
  width: 100%;
  float: left;
}

.carnival-form label{
  font-weight: bold;
  text-transform: capitalize;
  line-height: 20px;
}

.carnival-form input{
  width: 100%;
  outline:none;
  height:21px;
  border: 1px solid #c8c8c8;
  font-family: 'OpenSansRegular';
  padding:2px 6px 2px 6px;
  color:#555;
  border-radius: 3px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  background:#fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 35px;
}

.carnival-form input[type='file']{
  padding:0px 6px 0px 0px;
  border-left:none;
}

.carnival-form input:focus{
  border: 1px solid #A2C5F3;
  box-shadow: 0px 0px 3px rgba(110, 220, 255, 0.6);
}

.carnival-form input.submit{
  width: auto !important;
  margin-right: 0px;
  padding: 0px 15px 0px;
  background: white;
  background: -webkit-linear-gradient(-90deg, #fff, #f0f0f0);
  background: -moz-linear-gradient(-90deg, #fff, #f0f0f0);
  background: linear, -90deg, white, #f0f0f0;
  color: #333;
  line-height: 26px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  opacity: 0.7;
}

.carnival-form input.submit:hover, #profile_submit:hover{
  color:#3079ed;
  opacity: 1;
  cursor:pointer;
}

.carnival-form input.submit:active, #profile_submit:active{
  background-position:0px -30px ;
  border: 1px solid #173988;
  color:#fff;
  text-shadow: 0px 1px 0px #173988;
  cursor:pointer;
}

.carnival-form textarea{
  width: 100%;
  outline:none;
  line-height:18px;
  border: 1px solid #c8c8c8;
  font-family: 'OpenSansRegular';
  padding:7px 7px 7px 7px;
  min-height:100px;
  margin:0;
  color:#555;
  box-shadow: 0px 1px 0px 0px #fff;
  border-radius: 4px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  font-size:13px;
}

.carnival-form textarea:focus{
  border: 1px solid #2c6fec;
}

.carnival-form button{
  border: 1px solid #c8c8c8;
  padding:7px 15px 6px 15px;
  background:url(bg_button.png);
  font-family: 'OpenSansSemibold';
  color:#333;
  box-shadow: 0px 1px 0px 0px #fff;
  border-radius: 4px;
}

.carnival-form button:hover{
  color:#3079ed;
  cursor:pointer;
}

.carnival-form button:active{
  background-position:0px -30px ;
  border: 1px solid #173988;
  color:#fff;
  text-shadow: 0px 1px 0px #173988;
  cursor:pointer;
}

.carnival-form fieldset{
  width:97%;
  margin: 15px 0px;
  padding: 8px 5px;
  border: 1px solid #ccc;
}

/********************* FORM BASE STYLE ******************* END */

.submit_button{
  float: left;
  margin-top: 15px;
  padding-top:10px;
  bottom:15px;
  border-top: 1px solid #C7C7C7;
  width:100%;
}

.submit_button input{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.gray_border{
  border-bottom: 1px solid #ccc;
  margin: 0px 0px 20px;
  width: 100%;
  float: left;
  padding: 0 0 10px;
}

.gray_border h2{
  font-weight: bold;
  line-height: 140%;
  margin: 0px;
  margin-left:0px;
  font-size:18px;
  padding-bottom:5px;
}

.gray_border h1{
  font-weight: bold;
  line-height: 140%;
  margin: 0 0 8px;
  margin-left: 0px;
  font-size: 24px;
  position: absolute;
}

input[type="checkbox"]{
  width: auto !important;
  margin-right: 10px !important;
  padding: 0px !important;
  height: auto !important;
}

input{
  margin-bottom:10px;
}

.hidden{
  display: none;
}

#error_explanation{
  background-color: #9B281E;
  background-image: -moz-linear-gradient(center top , #CB3425 0pt, #9B281E 100%);
  background-image: -webkit-linear-gradient(center top , #CB3425 0pt, #9B281E 100%);
  background-image: -ms-linear-gradient(center top , #CB3425 0pt, #9B281E 100%);
  background-image: -o-linear-gradient(center top , #CB3425 0pt, #9B281E 100%);
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
  text-shadow: 0 0 0 transparent, 0 0 2px rgba(0, 0, 0, 0.3);
  width: 550px;
  margin: 10px 0px;
  float: left;
}

/************************ NESTED FORMS *********************** START */

.nested-form{
  margin: 10px 0 0;
}

.nested-form-title{
  float: left;
  margin-left: 20px;
}

.nested-form-title:first-child{
  margin-left: 0px;
  float: left;
  width: auto;
  display: block;
  margin: 1px 10px 16px 0px;
  line-height: 26px;
}

.nested-form-actions{
  float: right;
  margin-top: 17px;
}

.nested-form-list{
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nested-form-list-item{
  position: relative;
  border-top: 1px solid #ccc;
  border-bottom: 0px solid #ccc;
  float: left;
  margin-bottom: 0px;
  padding: 20px 25px 24px;
  width: 100%;
  background: #f9f9f9;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.nested-form-list-item:hover{
  background: #e2e2e2;
}

.nested-form-list-item-actions{
  float: right;
}

.nested-form-list-item-actions{
  opacity: 0;
  position: absolute;
  right: 0px;
  top: -1px;
}

.nested-form-list-item-actions a{
  border-radius: 0px 3px 0px 3px 
}

.nested-form-list-item:hover .nested-form-list-item-actions{
 opacity: 1;
}

.existing-options{
  clear: both;
  padding-bottom: 10px;
  width: 95%;
}

.existing-options span{
  float: left;
}

.carnival-form-options-hide{
  display: none
}

.carnival-select-options{
  width: 100%;
  margin-left: 20px;
  position: relative;
  float: left;
}

.carnival-select-tag{
  width: 50%;
  float: left;
  position: relative;
  margin-right: 10px;
}

.carnival-select-action{
  width: 50%;
  float: left;
  position: relative;
}
.carnival-form-options{
  margin-left: 20px;
  float: left;
}

.hidden-select{
  display:none !important;
}

/************************ NESTED FORMS *********************** END */
