#header_wrapper{
  height: 60px;
  margin: 0 auto;
  min-width: 400px;
  overflow: hidden;
  border-bottom:1px solid #e0e0e0;
  background: url('header-bg.png');
  position: relative;
  position: fixed;
  width: 100%;
  z-index: 9999999;
}

#header{
  width:100%;
  margin:0 auto;
}

#header h1{
  position: relative;
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
  border-left: 1px solid #e0e0e0;
  display: block;
  padding: 10px 0px 8px 10px;
  top: 0px;
  color: #999;
  float: left;
  left: 12px;
}

/* LOGO */

.logo_intranet{
  float: left;
  height: 60px;
  max-width: 50%;
  margin-left: 15px;
  margin-top: 10px;
}

.logo_intranet a{
  cursor:pointer;
  width:100%;
  height:100%;
  display:block;
  font-size: 30px;
  margin-top: 7px;
}

/* SALUT */

.right_menu{
  position: fixed;
  right: 0px;
  top: 20px;
  color: #000 !important;
  width: 500px;
  z-index: 999999999;
  float: right;
  margin-bottom: -25px;
}

.right_menu #account_id{
  float: right;
  margin-right: 20px;
  margin-top: -5px;
}

.right_menu a{
  color:#000 !important;
}

.salute{
  float: right;
  margin-right: 50px;
  width: 380px;
}

.salute .email{
  float: right;
}

.salute figure{
  float: right;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: -13px;
  margin-bottom: 0;
  border-radius: 45px;
  overflow: hidden;
  height: 45px;
  width: 45px;
  border: 1px solid #e2e2e2;
  background: #fff;
}

.salute img{
  height: 100%;
}

.salute img.default{
  margin-top: 3px;
  opacity: 0.7;
}

.salute img.custom{
}

.salute span{
  position:relative;
  display:block;
  height:23px;
  float: left;
  text-decoration:none;
  font-weight: bold;
  margin-right: 5px;
}

.salute a{
  position:relative;
  display: block;
  float: right;
  margin-right: 0;
}

.salute a:hover{
  background-color: transparent !important;
}

.right_menu .sign_out{
  float: right;
  margin-right: 10px;
}