.notifications_container{
  position: absolute;
  top: 1px;
  right: 47px;
}

.notifications_counter{
  padding: 5px 10px;
  background-color: #e6e6e6;
  border-radius: 20px;
}

.notifications_container .circle {
  float: right;
}

.notifications_list{
  max-height: 400px;
  overflow: hidden;
  width: 313px;
  position: relative;
}

.notifications_list ul{
  background-color: #e6e6e6;
  margin-left: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.notifications_list li{
  width: 300px;
  border-bottom: 1px solid #a9a9a9;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -40px;
}

.notifications_list li.unread, .notifications_list li.unread .message a{
  background-color: #014f95;
  color: white !important;
}

.view-all{
  border: 0px;
  text-align: center;
  width: 300px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #e6e6e6;
}

.notifications_counter.unread{
  background-color: #014f95;
  color: white !important;
  font-weight: bold;
}

.notification-content{
  display:none;
  margin: 6px -42px 0 0;
  position: relative;
  float: right;
  width: 300px;
}

.up-not{
  background: url(up-not.png) !important;
  display: block;
  width: 300px;
  height: 19px;
  position: relative;
  margin-top: 24px;
}
