/********************* TABLE BASE STYEL ********************* START */

.carnival-table{
  border-collapse: collapse;
  border-spacing:0px;
  z-index:1;
  width: 100%;
  float:left;
  margin-top:6px;
  border-radius: 4px 5px 0px 0px;
  overflow: hidden;
}

.carnival-table thead tr.filters{
  display: none;
}

.carnival-table thead{
  height:30px;
  border:1px solid #002c4a;
  border-bottom:0px;
}

.carnival-table thead th{
  margin-bottom:1px;
  z-index:1;
  padding: 0px 0px 0px 20px;
  font-weight:normal;
}

.carnival-table thead th.buttons{
  width: 200px;
  background:none;
}

.carnival-table thead tr{
  height:36px;
  background:#004161;
  color:#fff;
  text-align:left;
}

.carnival-table thead tr:hover{
  cursor:default;
}

.carnival-table tbody tr{
  margin-top:1px;
  border-bottom: 1px solid #e3e9ec;
  color:#000;
  background: #ffffff;
  height:50px;
  width:960px;
  bottom:0;
  transition: all 0.3s ease;
}

.carnival-table tbody tr td{
  padding:10px 10px 8px;
  margin:0;
}

.carnival-table .first-th{
  padding-left:35px;
}

.carnival-table tbody tr:nth-child(odd){
  background: #f8f8f8;
}

.carnival-table tbody tr:hover{
  background: #EDFAFF;
}

/*********************** TABLE BASE STYEL ********************* END */

/*********************** TABLE SORTABLES ********************** START */

#sortable {width: 95%; padding-left: 0px;}

.sorting {background: url('sort_both.png') no-repeat center left; }
.sorting_asc {background: url('sort_asc.png') no-repeat center left; }
.sorting_desc {background: url('sort_desc.png') no-repeat center left; }
.sorting_asc_disabled {background: url('sort_asc_disabled.png') no-repeat center left; }
.sorting_desc_disabled {background: url('sort_desc_disabled.png') no-repeat center left; }

#sortable > li > a {float: right; padding-right: 10px;}
#sortable > .ui-state-default {border: 0px; border-bottom: 1px solid lightGrey; background: transparent;}

/*********************** TABLE SORTABLES ********************** END */