<!DOCTYPE html>
<html>
<head>
  <title>Carnival</title>
  <%= stylesheet_link_tag    "carnival/application", media: "all" %>
  <%= javascript_include_tag "carnival/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
